doctype
html(lang='ko')
    head
        meta(charset='utf-8')
        title #{pageTitle}
        style 
            include ../css/base.css
        script 
            include ../js/index.js
    body
        include ../partials/header
        block content 
        include ../partials/footer
        